<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite">
  <test verbose="2" name="MyTest">
    <classes>
      <class name="keywords.Keywords"/>
      <class name="keywords.ExecuteKeywords"/>
      <class name="scripts.Runner"/>
      <class name="utils.ReadKeywords"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
